doctype html
html(ng-app='BetterRoute')
  head
    title Better Route
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects,package.route&lang=ru-RU')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js')
    script(type='text/javascript', src='/scripts/ui.js')
    script(type='text/javascript', src='/scripts/maps.js')
    script(type='text/javascript', src='/scripts/controllers.js')
    script(type='text/javascript', src='/scripts/services.js')
    script(type='text/javascript', src='/scripts/app.js')
  body
    script(type="text/javascript").
      var myMap = null;

      function init() {
        myMap = new ymaps.Map("map-canvas", {
          center: [ !{start[0]}, !{start[1]} ],
          zoom: 14
        });
      }
      ymaps.ready(init);
    div#map-canvas
    div#header
      h1 Better Roads
      h2 The fastest of favourites
      #logout
        span ilia.chernushov@gmail.com
        a(href='#') Logout
    #main
      block content
