<div class="container container-regular">
  <div class="container-content">
    <h1>Trips</h1>
    <button id="trip-new" ng-click="createTrip()">Create new</button>
    <table class="list-table">
      <tr ng-repeat="trip in trips" ng-click="showTrip(trip.id)">
        <td class="trip-left">
          <span class="trip-name">{{trip.name}}</span>
        </td>
        <td class="trip-right">
          <span class="trip-estimate" ng-show="trip.time > 0">from {{trip.time}} min</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="container-bottom">
    <p>You are working in trial-mode. To create more than 3 trips, go to <a href="#">premium</a>.</p>
  </div>
</div>
